// Import Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./core-styles/module.scss";

@layer base {
  * {
    @apply font-base;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }
}

$nav-height-offset: 58px;

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

main {
  margin-top: $nav-height-offset;
}
