// Import Tailwind CSS
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./core/module";
@import "./components/module";
@import "./pages/module";

@layer base {
  * {
    @apply font-base;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }
}

$nav-height-offset: 58px;

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

main {
  margin-top: $nav-height-offset;
}